---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Us</Fragment>
      <Fragment slot="desc"
        >We are a compassionate team committed to the welfare of
        abandoned, neglected, and abused animals.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Our Mission</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        At the Abandoned Animal Foundation, our primary focus is to find safe
        and loving homes for animals in need. We specialize in caring for
        animals from as young as 6-8 weeks old, providing hand-raising and
        bottle-feeding until they are ready for adoption. When we encounter sick
        or injured animals on the streets, we promptly take them to local
        veterinarians for treatment and rehabilitation. If owners cannot be
        located, we take these animals into our care. Additionally, we rescue
        dogs and cats from overcrowded pounds, preventing them from being
        euthanized due to lack of space, illness, or disease.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">Our goal</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We are actively seeking grants, sponsors, and donations to support our
        operations and establish a no-kill shelter. We’ve identified a suitable
        facility for our rescued animals and aim to raise funds for its
        renovation. This facility will serve as temporary housing for animals
        until they find permanent, loving homes. Owning our own facility will
        reduce boarding fees, extend our adoption hours, and expand our
        rehabilitation and education programs. With your help, we can
        significantly increase the number of animals we save and improve their
        quality of life.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">Please join us in our mission to give these deserving animals a second chance at happiness.</p>
      <p class="text-lg leading-relaxed text-slate-500">Feel free to adjust any part of this to better fit your needs!</p>
    </div>
  </Container>
</Layout>
