---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
//import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">We are a here to help.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact Us</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We value your interest in the Abandoned Animal Foundation and are here
          to help with any questions or support you may need.
        </p>
          <p class="text-lg leading-relaxed text-slate-500 mt-3">Please fill
          out the form below, and a member of our dedicated team will get back
          to you as soon as possible. 
        
        </p>
      
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
