---
// @ts-ignore

const features = [
  {
    title: "Save & Rescue",
    description:
    "Rescuing abandoned and stray animals from animal shelters who have not been adopted and are often moments away from being euthanized.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "No-kill Shelter",
    description:
      "Building a no-kill animal shelter where abandoned pets can be safely sheltered without the threat of euthanization until we find them permanent homes.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Affordable Care",
    description:
      "Providing inexpensive spay and neuter services in order to drastically reduce the number of unwanted animals on the streets.",
    icon: "bx:bxs-data",
  },
  {
    title: "Educating",
    description:
      "Educating the community on responsible pet guardianship to avoid animals abandoned at the pound.",
    icon: "bx:bxs-bot",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    About our charity
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Abandoned Animal Foundation is a 501(c)(3) non-profit and no-kill organization, strictly supported by donations. Our mission is to rescue abandoned neonatal animals from situations that are abusive, endangering and neglectful, and finding those animals PERMANENT homes. Our priority is to provide our community with affordable vaccinations, spay/neuter programs and inexpensive veterinary care through our local network of vets.
  </p>
  <p class="text-lg mt-4 text-slate-600 font-bold">
    Abandoned Animal Foundation is dedicated to the following goals:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-4 mt-16 gap-16">
{
  features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
