---
import { Picture } from "astro:assets";
import Link from "@components/ui/link.astro";
//import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 lg:order-1 hidden lg:block">
    <Picture
      src="https://assets.abandonedanimalfoundation.com/pet-profiles/billy-square-001.jpg"
      alt="billy"
      inferSize
      loading="eager"
      format="avif"
    />

  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Helping pets in need
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">Join us in our mission to provide care and find loving homes for pets.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <!--<Icon class="text-white w-5 h-5" name="bx:bxs-donate-heart" />-->
         Donate
      </Link>

    </div>
  </div>
</main>
